<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title | escape }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/style.css' | relative_url }}"
        />
        <style>
            table {
                border: none;
            }
            tbody {
                border: none;
            }
            tr {
                border: none;
            }
            td {
                border: none;
            }
        </style>
    </head>
    <body>
        <div
            class="wrapper"
            style="margin: 5%; margin-left: 20%; margin-right: 20%"
        >
            <section>{{ content }}</section>
        </div>
    </body>
</html>
